<div id="mapInput" class="form-group">
    <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupInput [formControl]="destinationInput">
    <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupOutput [formControl]="destinationOutput">
</div>
<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">

    <agm-marker [latitude]="latitude" [longitude]="longitude">

        <agm-info-window>
            <strong>Your Location</strong>
        </agm-info-window>

    </agm-marker>

    <agm-marker [latitude]="latitudeT" [longitude]="longitudeT">
        <agm-info-window>
            <strong>{{name}}</strong>
        </agm-info-window>

    </agm-marker>

    <map-directions [origin]="origin" [destination]="destination"></map-directions>
</agm-map>