<mat-sidenav-container class="example-container">

    <mat-sidenav class="sidenav" #sidenav>
        <mat-list>
            <mat-nav-list>
                <!-- Close SideNav on button click-->
                <!-- <a (click)="sidenav.close()" id="closebtns" mat-list-item><span>&times;</span></a> -->

                <a (click)="sidenav.close()" id="closebtns" mat-list-item><i class="fa fa-times" aria-hidden="true"></i></a>



                <!-- Close SideNav after link selection-->
                <div (click)="sidenav.close()">
                    <!-- OPEN Items to show only when the user is logged in -->
                    <a mat-list-item routerLink="/home">
                        <i class="fa fa-home" aria-hidden="true"></i>&nbsp; Home
                    </a>

                    <div *ngIf="authService.isLoggedIn()">

                        <a mat-list-item routerLink="/dashboard">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp; Dashboard
                        </a>
                        <a mat-list-item routerLink="/profile">
                            <i class="fa fa-user" aria-hidden="true"></i>&nbsp; Profile
                        </a>
                        <a mat-list-item routerLink="/register">
                            <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp; Register
                        </a>

                        <!-- if user is truck owner  -->

                        <ng-container *ngIf="(authService.user | async) || {} as user">

                            <div *ngIf="user.role === 'owner'">
                                <a mat-list-item routerLink="/orders">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; Orders
                                </a>
                                <a mat-list-item routerLink="/myTrucks">
                                    <i class="fa fa-truck" aria-hidden="true"></i>&nbsp; My Trucks
                                </a>
                            </div>


                        </ng-container>


                        <a mat-list-item routerLink="/login" (click)="logout()">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout
                        </a>
                    </div>
                    <!-- CLOSE Items to show only when the user is logged in -->

                    <!-- OPEN Items to show when the user is logged out -->
                    <div *ngIf="!authService.isLoggedIn()">
                        <a mat-list-item routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Login </a>
                    </div>
                    <!-- CLOSE Items to show when the user is logged out -->

                </div>
                <!-- CLOSE Close SideNav after link selection-->
            </mat-nav-list>
        </mat-list>

        <!-- sidenav contents -->

    </mat-sidenav>
    <mat-sidenav-content>

        <!-- App title bar -->
        <mat-toolbar class="mat-elevation-z6" color="primary">
            <mat-toolbar-row>

                <!-- 3 lines created using span tag for hamburger  -->
                <i class="fa fa-bars" aria-hidden="true" (click)="sidenav.toggle()"></i>
                <!-- <div class="hamburger-btn" (click)="sidenav.toggle()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div> -->

                <span class="spacer"></span>
                <span>Apne Truck</span>
                <span class="spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>


        <!-- <div class="container"> -->
        <ng-content></ng-content>


        <!-- </div> -->

    </mat-sidenav-content>

</mat-sidenav-container>